<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Application</title>
</head>
<body>
    <form action="todos/create" method="post">
        <input type="text" class="todo-item" name="todo-item" placeholder="Add todo item">
        <input type="submit" value="Submit">
    </form>
    <ul>
        {% for item in data %}
            <li>{{ item.description }}</li>
        {% endfor %}
    </ul>
</body>
</html>